input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
    border: 0;
    outline: 0;
    border-bottom: 2px solid blue;
    margin: 2px 0 4px 0;
    width: 100%;
}

ion-select{
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
}

#dropdowns-container{
    display: flex;
    flex-direction: column;
}

#result-container{
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 70px;
    background: -webkit-gradient(linear,0% 0%,0% 100%,from(#7c69f4),to(#5546f2));
    margin: 10px auto 10px auto;
    text-align: center;
    padding: 6px 10px;
    color: white;
}

#result-label{
    margin: auto;
}

#result-value{
    margin:auto;
}

#input-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #fff;
}

#details-container{
    background-color: #fff;
    text-align: center;
    padding: 10px 0;
}

#wrapper{
    background-color: #fff;
    padding: 10px 26px 26px 26px;
    max-width: 768px;
    margin: 0 auto 16px auto;
    box-shadow:0 3px 20px rgba(0,0,0,0.4);
}

.field-label{
    margin: px 0;
}

.input-item{
    margin-bottom: 10px;
}

.item{
    display: flex;
    justify-content: space-between;
    margin: 2px 0;
}

.alert-radio-label{
    text-overflow: initial;
    white-space: initial;
    overflow: initial;
}

/* ion-content{
    --ion-background-color:#EEEEEE; //changes backgorund color of ion-content
} */